{% extends "knowledgebase/template.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'KB-author' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>  
    {% if object.author == user %}
    <div>
        <a class="btn btn-default" href="{% url 'KB-update' article.id %}">Edit Article</a>
        <a class="btn btn-outline-danger" href="{% url 'KB-delete' article.id %}">Delete Article</a>
    </div>
    {% endif %}    
{% endblock %}